numpy>=1.12.1
scipy>=1.0.1
torch>=2.1.1
accelerate==0.24.1
bitsandbytes==0.41.2.post2
peft==0.6.2
transformers>=4.35.2
pillow==10.1.0
llama-cpp-python
datasets
zstandard
jsonlines
wandb
openai
sentencepiece
fire
datasketch==1.5.9
nltk==3.8.1
scikit-learn==1.3.0
pytest
wheel
flash-attn>=2.3.3
llm-rs==0.2.15
